{% extends "app/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Nova Receita</h3>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label>Nome: </label>
                    {{ form.nome }}
                </div>
                <div class="col">
                    <label>Categoria: </label>
                    {{ form.categoria }}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Ingredientes: </label>
                    {{ form.ingredientes }}
                </div>
                <div class="col">
                    <label>Preparo: </label>
                    {{ form.preparo }}
                </div>
            </div>
            <br>
            <label>Usuario: </label>
            {{ form.usuario }}
            <br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-outline-secondary btn-lg btn-block text-uppercase font-weight-bold">
            </div>
        </form>
    {% endif %}
{% endblock %}