{% extends "app/base.html" %}

{% block content %}
    <form class="form-inline my-2 my-lg-2" action="." method="GET">
        <input class="form-control mr-sm-2" type="text" id="txtBusca" placeholder="Buscar..." name="busca"/>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
    <h3>Lista de Receitas</h3>
    {% if receitas %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in receitas %}
                    <tr>
                        {% csrf_token %}
                        <td><a href="{% url 'receita' receita.id %}">{{ receita.nome }}</a></td>
                        <td>{{ receita.categoria }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Sem itens na lista.</p>
    {% endif %}
    <!--
    <ul>
        <form action="." method="GET">
            <input type="text" id="txtBusca" placeholder="Buscar..." name="busca"/>
            <input type="submit" value="Buscar"/>
        </form>
        <h4>----- Nome ----------- Categoria -----</h4>
        {% for receita in receitas %}
            <li>{{ receita.nome }} - {{ receita.categoria }}</li>
        {% endfor %}
        <h4>--------------------------------------------</h4>
    </ul>-->
{% endblock %}