<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Me Receita</title>
</head>
<body>
    <h2>Lista de Receitas</h2>
    <form action="." method="GET">
        <input type="text" id="txtBusca" placeholder="Buscar..." name="busca"/>
        <input type="submit" value="Buscar"/>
    </form>
    {% if receitas %}
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for receita in receitas %}
                    <tr>
                        <td><a href="{% url 'receita' receita.id %}">{{ receita.nome }}</a></td>
                        <td>{{ receita.categoria }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Sem itens na lista.</p>
    {% endif %}
    <!--
    <ul>
        <form action="." method="GET">
            <input type="text" id="txtBusca" placeholder="Buscar..." name="busca"/>
            <input type="submit" value="Buscar"/>
        </form>
        <h4>----- Nome ----------- Categoria -----</h4>
        {% for receita in receitas %}
            <li>{{ receita.nome }} - {{ receita.categoria }}</li>
        {% endfor %}
        <h4>--------------------------------------------</h4>
    </ul>-->
</body>
</html>